body {
    background-color: black;
    color: lightgray;
    font-family: sans-serif;
}

.overlay {
    opacity:0.8;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#key {
    background-image: url(image/key_red.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tap {
    background-color: red !important;
}

.invisible {
    display:none;
}

#btn1 {
    position: absolute;
    top: 53%;
    left: calc(50% - 150px);
    width: 150px;
    height: 150px;
    background-color: green;
}

#btn2 {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: purple;
}

#btn3 {
    position: absolute;
    top: 73%;
    right: calc(50% - 100px);
    width: 200px;
    height: 130px;
    background-color: yellow;
}