:root {
	--light-blue: 	rgb(100, 154, 210);
	--medium-blue: 	rgb(0, 88, 156);
	--dark-blue:	rgb(0, 68, 130);

	--light-grey: #eee;
	--dark-grey: #555;

	--tab-gradient: linear-gradient(var(--light-blue), var(--medium-blue));
}

html, body {
	height: 100%;
	background-size: cover;
  	overflow-x: hidden;
}

#header {
	height: 8%;
}

#footer {
	text-align: center;
	vertical-align: middle;

	font-style: italic;
	font-weight: 100;

	color: var(--dark-grey);
	background-color: var(--light-grey);
	padding: 1%;
}

#top-padding-bar {
	background-color: #222;
	padding-top: 2%; 
}

#navigation-bar {
	background-image: linear-gradient(#333333,#222222);	
	vertical-align: center;
	text-align: center;
}

#navigation-logo {
	color: #ffffff;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

#navigation-tabs {
	font-family: 'Droid Sans Mono';

    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	text-transform: lowercase;
}

#navigation-tab {
	color: #fff;
}

#navigation-tab:hover {
	color: #ccc;
	background-color: rgba(255, 255, 255, 0.1);
}

#navigation-tab:active, #navigation-tab:focus{
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}


#welcome-page {
	font-family: 'Droid Sans Mono';

	height: 50%;
	width: 100%;
  	background-color: var(--light-grey);
  	color: var(--dark-grey);

  	text-align: center;

  	padding-top: 10%;
}

#welcome-page-main-text {
  	font-size: 25pt;
}

#welcome-page-sub-text {
  	font-size: 15pt;
}

#portfolio-showcase {
	text-align: center;
	width: 100%;

	padding: 30px 0px 30px 0px;
	margin: 0px 0px 0px 0px;

	opacity: 0.5;
}

#portfolio-showcase:hover {
	background-color: var(--medium-blue);
	opacity: 0.2;
}

#project-image {
	height: 100%;
	width: 100%;

	/*opacity: 0.5;*/
}

#portfolio-showcase-images {
	padding: 5px 5px 5px 5px;
}
