:root
{
    --main-bg-color: #333333;
    --main-text-color: #dddddd;
}

body
{
    font-family: 'Share Tech Mono', monospace;
}

#container
{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    
    height: 100%;
    width: 100%;
}

#score
{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#game-over
{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    
    padding-top: 5pt;
    padding-bottom: 5pt;
}

#game
{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    
    padding-bottom: 2%;
    
    align-content: center;
    text-align: center;
}